{% extends 'base.html.twig' %}

{% block title %}Réinitialisation{% endblock %}

{% block body %}

    <div class="container d-flex justify-content-center align-items-center my-3 text-white" style="height: 50vh;">
        <div class="row card-body text-white rounded-7 mt-2 mb-2 border border-light">
            <div class="col">
                <h1>Réinitialisation de mot de passe</h1>
                {{ form_start(requestPassForm) }}
                {{ form_row(requestPassForm.email) }}
                <button type="submit" class="button btn-custom mt-3 mb-3">Envoyer</button>
                {{ form_end(requestPassForm) }}
            </div>
        </div>
    </div>

{% endblock %}
