{% extends 'base.html.twig' %}

{% block title %}Votre profil{% endblock %}

{% block body %}
<div class="product-content">
    <div class="container col-sm-4 d-flex justify-content-center align-items-center" style="height: 20rem;" >
        {% if app.user %}
            <div class="card-body text-white rounded-7 mt-2 mb-2 border border-light ">
                <div class="form-group row">
                    <h1 class="h2 mt-3 font-weight-normal ">Bienvenue sur le profil de {{ app.user.nomComplet }}</h1>
                </div>
            </div>
        {% endif %}
    </div>

    <div class="container col-sm-4 d-flex justify-content-center align-items-center" >
        <div class="card-body text-white rounded-7 mt-2 mb-2 border border-light">
            <div class="form-group row">
                <h1 class="h2 mt-3 font-weight-normal ">Votre compte est validé !</h1>
            </div>
        </div>
    </div>

</div>

{% endblock %}
