{% extends 'base.html.twig' %}

{% block title %}Hello ProfilController!{% endblock %}

{% block body %}
    <div class="container col-sm-4 d-flex justify-content-center align-items-center" style="height: 50vh;">
        <div class="card-body text-white rounded-7 mt-2 mb-2 border border-light">
            <div class="form-group row">
                <h1 class="h2 mt-3 font-weight-normal ">Vous avez validé votre compte !</h1>
            </div>
        </div>
    </div>

{% endblock %}
