{% extends 'base.html.twig' %}

{% block title %}Détail produit{% endblock %}

{% block body %}
    <div class="container">
        <div class="d-flex justify-content-center align-items-center mt-5 text-white">
            <h1>Page détail de {{ produit.proNom }}</h1>

        </div>
    </div>
{% endblock %}
