{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<div class="container">
</div>
        <div class="">
            <div class="" style="">
                <img class="card-img-top card-image" src="/assets/uploads/categories/mannequinHomme.jpg">
            </div>
        </div>

{% endblock %}
